h1
{color:rgb(138, 30, 30);
text-align:center;
padding-bottom: 40px
}

h3
{color:rgba(38, 38, 125, 0.84);
     text-align: center;
    padding-bottom: 20px;}

p
{color:rgba(14, 7, 43, 0.84);
     text-align: center}