.Wellcome_page
{
    text-align: center;
    padding: 60px 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg,#4f46e9,rgba(51, 187, 137, 0.443));
    font-family: sans-serif;
    color:white;
    animation: zoomin(1.2s)ease forwards;

}

.Wellcome_page h1{
    font-size: 46px;
    margin-bottom: 40px;
}

.Wellcome_page p{
    font-size: 23px;
    margin-bottom: 40px;
    opacity: 0.8;
    
}

.Wellcome_page button{
    background: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.Wellcome_page button:hover{
    background: #dddfe9;
    transform: scale(1.05);
}